*{
    padding: 0;
    margin: 0;
    color: white;
}


header {
  position: fixed; /* Forces the rule over theme overrides */
  top: 0 ;
  left: 0;
  width: 100%;
  z-index: 99999; /* Ensures it stays on top of everything */
}



#navbar{
    height: 60px;
    background-color: #0f1111;
    
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    margin-right: 200px;
}

.ContentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    color: #0f1111;
    display: inline-block;
    margin-right: 200px;
    margin-top: 200px;
}



p{
    color: #0f1111;
}

footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}

#box1{
    height: 100px;
    width: 200px;
    background-color: rgb(115, 35, 48);
    font-size: 10px;
}

#box2{
    height: 50px;
    width: 30%;
    background-color: aqua;
    margin-left: 10%;
    font-size: 2em;
    width: 5rem;
    
}


