h1{
    color:rgb(85, 218, 85);
}

p{
    color:rgb(85, 223, 85);
}

button{
    color:rgb(66, 219, 66);
    background-color: white;
}

body{
    background-color: #6e7173;
}

#headingone{
    color:pink
}
#headingtwo{
    color:aquamarine
}
#headingthree{
    color:bisque
}